body {
    color: #000;
}

.nav {
    padding: 10px 0;
    max-width: 600px;
}

#tab-panel {
    padding: 10px;
    color: #000;
    background-color: #ededed;
    font-weight: bold;
    text-decoration: none;
}

ol> li {
    padding: 10px 0;
    border-top: 1px solid #ededed;
}

.list-item span {
    font-weight: bold;
}